-
  var fridayHBO = [
    {
      title: 'Last Week Tonight',
      time: '6:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'last-week-tonight.jpg'
    }, {
      title: 'Game of Thrones',
      time: '6:30 AM',
      genre: 'tv-series',
      info: '',
      image: 'game-of-thrones.jpg'
    }, {
      title: 'Veep',
      time: '7:30 AM',
      genre: 'tv-series',
      info: 'On the night after the election, Selina discovers a possible road to victory; Amy must make a decision; Catherine begins a documentary project; Mike announces that he and Wendy are adopting a baby; Dan considers a new career',
      image: 'veep.jpg'
    }, {
      title: 'Silicon Valley',
      time: '8:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'silicon-valley.jpg'
    }, {
      title: 'Last Week Tonight',
      time: '8:30 AM',
      genre: 'tv-series',
      info: '',
      image: 'last-week-tonight.jpg'
    }, {
      title: 'Game of Thrones',
      time: '9:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'game-of-thrones.jpg'
    }, {
      title: 'Silicon Valley',
      time: '10:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'silicon-valley.jpg'
    }, {
      title: 'Veep',
      time: '10:30 AM',
      genre: 'tv-series',
      info: 'On the night after the election, Selina discovers a possible road to victory; Amy must make a decision; Catherine begins a documentary project; Mike announces that he and Wendy are adopting a baby; Dan considers a new career',
      image: 'veep.jpg'
    }, {
      title: 'A Little Chaos',
      time: '11:00 AM',
      genre: 'cinema',
      info: 'In 17th-century France, King Louis XIV\'s chief landscape architect (Matthias Schoenaerts) makes an unusual decision to hire a woman (Kate Winslet) to create a lavish garden at Versailles',
      image: 'a-little-chaos.jpg'
    }, {
      title: 'Wonder Woman',
      time: '1:00 PM',
      genre: '',
      info: 'A powerful woman (Keri Russell) fights fellow Amazons to return a man (Nathan Fillion) back to civilization',
      image: 'wonder-woman.jpg'
    }, {
      title: 'Jonas Brothers: Concert Experience',
      time: '2:15 PM',
      genre: '',
      info: 'Kevin, Joe and Nick Jonas perform in excerpts from their 2008 "Burnin\' Up" tour, interspersed with lots of behind-the-scenes footage of their lives on the road. A new song, called "Love Is on Its Way," is one of the presentations, and guests Demi Lovato and Taylor Swift perform',
      image: 'jonas-brothers.jpg'
    }, {
      title: 'Double Take',
      time: '3:30 PM',
      genre: 'cinema',
      info: 'A successful New York investment banker Daryl Chase (Orlando Jones) is suddenly on the run and has to switch identities with low-life petty thief Freddy Tiffany (Eddie Griffin). Until now, Daryl\'s led a charmed life. However, everything is turned upside down when he is framed for laundering millions for a Mexican drug cartel. He makes a run to the border in an attempt to clear his name',
      image: 'double-take.jpg'
    }, {
      title: 'What Happens in Vegas',
      time: '5:00 PM',
      genre: 'cinema',
      info: 'During a wild vacation in Las Vegas, career woman Joy McNally (Cameron Diaz) and playboy Jack Fuller (Ashton Kutcher) come to the sober realization that they have married each other after a night of drunken abandon. Besides that, there is a huge jackpot at stake. An implacable judge freezes the prize money and refuses to grant an annulment, so Joy and Jack must try to make their impromptu marriage work',
      image: 'what-happens-in-vegas.jpg'
    }, {
      title: 'REAL Sports With Bryant Gumbel',
      time: '6:45 PM',
      genre: 'cinema',
      info: 'During a wild vacation in Las Vegas, career woman Joy McNally (Cameron Diaz) and playboy Jack Fuller (Ashton Kutcher) come to the sober realization that they have married each other after a night of drunken abandon. Besides that, there is a huge jackpot at stake. An implacable judge freezes the prize money and refuses to grant an annulment, so Joy and Jack must try to make their impromptu marriage work',
      image: 'real-sports.jpg'
    }, {
      title: '24/7 Canelo/Khan',
      time: '7:45 PM',
      genre: '',
      info: '',
      image: '24-7-canelo-khan.jpg'
    }, {
      title: 'Confirmation',
      time: '8:15 PM',
      genre: 'cinema',
      info: 'Nominated to the Supreme Court in 1991, Judge Clarence Thomas (Wendell Pierce) must testify before the Senate Judiciary Committee after Anita Hill (Kerry Washington), his former employee, claims that he sexually harassed her',
      image: 'confirmation.jpg'
    }, {
      title: 'Finding Forrester',
      time: '10:15 PM',
      genre: 'cinema',
      info: 'A unique relationship develops between an eccentric, reclusive novelist and a young, amazingly gifted scholar-athlete. After the novelist discovers that the young athlete is also an excellent writer and secretly takes him on as his protégé, they develop an unlikely friendship. As they learn more about each other, they learn more about themselves, and ultimately, with the help of his new mentor, the basketball star must choose the right path',
      image: 'confirmation.jpg'
    }, {
      title: 'Last Week Tonight',
      time: '12:30 AM',
      genre: 'tv-series',
      info: '',
      image: 'last-week-tonight.jpg'
    }, {
      title: 'REAL Sports With Bryant Gumbel',
      time: '1:00 AM',
      genre: 'cinema',
      info: 'During a wild vacation in Las Vegas, career woman Joy McNally (Cameron Diaz) and playboy Jack Fuller (Ashton Kutcher) come to the sober realization that they have married each other after a night of drunken abandon. Besides that, there is a huge jackpot at stake. An implacable judge freezes the prize money and refuses to grant an annulment, so Joy and Jack must try to make their impromptu marriage work',
      image: 'real-sports.jpg'
    }, {
      title: 'Max',
      time: '2:10 AM',
      genre: 'cinema',
      info: 'After U.S. Marine Kyle Wincott is killed in Afghanistan, Max, his highly trained service dog, is too traumatized to remain in service. Back in the U.S., Kyle\'s family adopts the dog, but teenage brother Justin (Josh Wiggins) has problems of his own and doesn\'t want the animal. However, Max may be Justin\'s only chance to learn what really happened to his brother. With the help of a dog-savvy friend, Justin and Max begin to bond, and set out to unravel the mystery of Kyle\'s death',
      image: 'confirmation.jpg'
    }, {
      title: 'Heart of Dog',
      time: '2:10 AM',
      genre: '',
      info: 'Musician and performance artist Laurie Anderson reflects on the deaths of her husband Lou Reed, her mother and her beloved dog',
      image: 'heart-of-dog.jpg'
    }
  ]
