-
  var mondayUSA = [
    {
      title: 'Modern Family',
      time: '6:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }, {
      title: 'Modern Family',
      time: '7:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }, {
      title: 'Motive',
      time: '8:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'motive.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '8:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '10:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '11:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '12:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'SCI: Crime Scene Investigation',
      time: '1:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'sci.jpg'
    }, {
      title: 'SCI: Crime Scene Investigation',
      time: '2:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'sci.jpg'
    }, {
      title: 'SCI: Crime Scene Investigation',
      time: '3:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'sci.jpg'
    }, {
      title: 'NCIS',
      time: '4:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '6:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '8:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '10:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '12:00 AM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'Modern Family',
      time: '2:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }, {
      title: 'WWA Monday Night RAW',
      time: '3:00 AM',
      genre: '',
      info: '',
      image: 'wwe-monday.jpg'
    }
  ]
