-
  var mondayTNT = [
    {
      title: 'NBA Basketball',
      time: '5:30 AM',
      genre: 'sport',
      info: 'Western Conference First Round, Game 4',
      image: 'nba-basketball.jpg'
    }, {
      title: 'Inside the NBA',
      time: '8:00 AM',
      genre: 'sport',
      info: '',
      image: 'inside-the-nba.jpg'
    }, {
      title: 'NBA Basketball',
      time: '9:00 AM',
      genre: 'sport',
      info: 'Western Conference First Round, Game 5',
      image: 'nba-basketball.jpg'
    }, {
      title: 'TNT Network Preview',
      time: '11:30 AM',
      genre: '',
      info: '',
      image: 'tnt-network-preview.jpg'
    }, {
      title: 'Grimm',
      time: '12:00 PM',
      genre: 'tv-series',
      info: 'Rosalee and Monroe finally go on their honeymoon; Nick and Hank investigate a shocking homicide at an abandoned -- and supposedly haunted -- residence; Renard seeks help from a mystical woman',
      image: 'grimm.jpg'
    }, {
      title: 'Charmed',
      time: '1:00 PM',
      genre: 'tv-series',
      info: 'Paige feels out of place among her happily married older sisters and their spouses, plus she becomes convinced Cole is a demon',
      image: 'charmed.jpg'
    }, {
      title: 'Charmed',
      time: '2:00 PM',
      genre: 'tv-series',
      info: 'Paige feels out of place among her happily married older sisters and their spouses, plus she becomes convinced Cole is a demon',
      image: 'charmed.jpg'
    }, {
      title: 'Charmed',
      time: '3:00 PM',
      genre: 'tv-series',
      info: 'Paige feels out of place among her happily married older sisters and their spouses, plus she becomes convinced Cole is a demon',
      image: 'charmed.jpg'
    }, {
      title: 'Supernatural',
      time: '4:00 PM',
      genre: 'tv-series',
      info: 'Sam and Dean investigate a house haunted by a murderer',
      image: 'supernatural.jpg'
    }, {
      title: 'Supernatural',
      time: '5:00 PM',
      genre: 'tv-series',
      info: 'Sam and Dean investigate a house haunted by a murderer',
      image: 'supernatural.jpg'
    }, {
      title: 'Supernatural',
      time: '6:00 PM',
      genre: 'tv-series',
      info: 'Sam and Dean investigate a house haunted by a murderer',
      image: 'supernatural.jpg'
    }, {
      title: 'Supernatural',
      time: '7:00 PM',
      genre: 'tv-series',
      info: 'Sam and Dean investigate a house haunted by a murderer',
      image: 'supernatural.jpg'
    }, {
      title: 'Bones',
      time: '8:00 PM',
      genre: 'tv-series',
      info: 'As Brennan and the team try to absolve Booth and get him out of prison, the remains of a man who has been dead for 16 years prove to be significant; Booth encounters criminals he was responsible for incarcerating',
      image: 'bones.jpg'
    }, {
      title: 'Bones',
      time: '9:00 PM',
      genre: 'tv-series',
      info: 'As Brennan and the team try to absolve Booth and get him out of prison, the remains of a man who has been dead for 16 years prove to be significant; Booth encounters criminals he was responsible for incarcerating',
      image: 'bones.jpg'
    }, {
      title: 'Bones',
      time: '10:00 PM',
      genre: 'tv-series',
      info: 'As Brennan and the team try to absolve Booth and get him out of prison, the remains of a man who has been dead for 16 years prove to be significant; Booth encounters criminals he was responsible for incarcerating',
      image: 'bones.jpg'
    }, {
      title: 'Castle',
      time: '11:00 PM',
      genre: 'tv-series',
      info: 'Castle and Beckett investigate the death of a champion swimmer; authors Michael Connelly and Dennis Lehane give Castle advice',
      image: 'castle.jpg'
    }, {
      title: 'Castle',
      time: '12:00 AM',
      genre: 'tv-series',
      info: 'Castle and Beckett investigate the death of a champion swimmer; authors Michael Connelly and Dennis Lehane give Castle advice',
      image: 'castle.jpg'
    }, {
      title: 'Castle',
      time: '1:00 AM',
      genre: 'tv-series',
      info: 'Castle and Beckett investigate the death of a champion swimmer; authors Michael Connelly and Dennis Lehane give Castle advice',
      image: 'castle.jpg'
    }, {
      title: 'Castle',
      time: '2:00 AM',
      genre: 'tv-series',
      info: 'Castle and Beckett investigate the death of a champion swimmer; authors Michael Connelly and Dennis Lehane give Castle advice',
      image: 'castle.jpg'
    }, {
      title: 'NBA Basketball',
      time: '3:00 AM',
      genre: 'sport',
      info: 'Western Conference First Round, Game 5',
      image: 'nba-basketball.jpg'
    }
  ]
