-
  var saturdayHBO = [
    {
      title: 'Dracula Untold',
      time: '5:30 AM',
      genre: 'cinema',
      info: 'In 15th-century Transylvania, Vlad III (Luke Evans), prince of Wallachia, is known as a just ruler. With his beloved wife, Mirena (Sarah Gadon), Vlad has brokered a prolonged period of peace and ensured that his people are protected, especially from the Ottoman Empire. However, when Sultan Mehmed II (Dominic Cooper) demands 1,000 of the country\'s boys, including Vlad\'s son, for his army, Vlad makes a deal with a monster that will enable him to defeat the Turks -- but cost him his humanity.',
      image: 'drakula-untold.jpg'
    }, {
      title: 'Lucy',
      time: '7:00 AM',
      genre: 'cinema',
      info: 'When a boyfriend tricks Lucy (Scarlett Johansson) into delivering a briefcase to a supposed business contact, the once-carefree student is abducted by thugs who intend to turn her into a drug mule. She is surgically implanted with a package containing a powerful chemical, but it leaks into her system, giving her superhuman abilities, including telekinesis and telepathy. With her former captors in pursuit, Lucy seeks out a neurologist (Morgan Freeman), who she hopes will be able to help her',
      image: 'drakula-untold.jpg'
    }, {
      title: 'Real Time With Bill Maher',
      time: '7:40 AM',
      genre: '',
      info: '',
      image: 'real-time.jpg'
    }, {
      title: 'Confirmation',
      time: '10:10 AM',
      genre: 'cinema',
      info: 'Nominated to the Supreme Court in 1991, Judge Clarence Thomas (Wendell Pierce) must testify before the Senate Judiciary Committee after Anita Hill (Kerry Washington), his former employee, claims that he sexually harassed her',
      image: 'confirmation.jpg'
    }, {
      title: '24/7 Canelo/Khan',
      time: '12:10 PM',
      genre: '',
      info: '',
      image: '24-7-canelo-khan.jpg'
    }, {
      title: 'Silicon Valley',
      time: '12:40 PM',
      genre: 'tv-series',
      info: '',
      image: 'silicon-valley.jpg'
    }, {
      title: 'Wagons East!',
      time: '1:05 PM',
      genre: 'cinema',
      info: 'When a group of dissatisfied settlers decides they\'ve had enough of the Wild West, they hire James Harlow (John Candy), an alcoholic wagon master, to take them back East. The eclectic but happy bunch includes Dr. Phil (Richard Lewis), prostitute Belle (Ellen Greene) and openly gay man Julian (John C. McGinley). But the railroad investors don\'t want it getting out that the West isn\'t a nice place, so they do everything they can to make sure the group never makes it to their destination',
      image: 'wagons-east.jpg'
    }, {
      title: 'Agent Cody Banks 2',
      time: '3:00 PM',
      genre: 'cinema',
      info: 'Teenage spy Cody Banks (Frankie Muniz) returns for another mission, and this time around he has a new partner, the humorous and amiable Derek Bowman (Anthony Anderson). Cody and Derek must travel to England to foil the plot of Victor Diaz (Keith Allen), a villainous operative who aims to wreak havoc with experimental mind-control technology. Joining Cody and Derek is pretty British schoolgirl Emily Sommers (Hannah Spearritt), who turns out to be a fellow undercover spy',
      image: 'agent-cody.jpg'
    }, {
      title: 'Bicentennial Man',
      time: '4:40 PM',
      genre: 'cinema',
      info: 'Richard Martin (Sam Neill) buys a gift, a new NDR-114 robot. The product is named Andrew (Robin Williams) by the youngest of the family\'s children. "Bicentennial Man" follows the life and times of Andrew, a robot purchased as a household appliance programmed to perform menial tasks. As Andrew begins to experience emotions and creative thought, the Martin family soon discovers they don\'t have an ordinary robot.',
      image: 'bicentennial-man.jpg'
    }, {
      title: 'Jurassic World',
      time: '7:00 PM',
      genre: 'cinema',
      info: 'Located off the coast of Costa Rica, the Jurassic World luxury resort provides a habitat for an array of genetically engineered dinosaurs, including the vicious and intelligent Indominus rex. When the massive creature escapes, it sets off a chain reaction that causes the other dinos to run amok. Now, it\'s up to a former military man and animal expert (Chris Pratt) to use his special skills to save two young brothers and the rest of the tourists from an all-out, prehistoric assault',
      image: 'jurassic-world.jpg'
    }, {
      title: 'Taken 3',
      time: '9:30 PM',
      genre: 'cinema',
      info: 'Ex-covert operative Bryan Mills (Liam Neeson) and his ex-wife, Lenore (Famke Janssen), are enjoying a reconciliation when Lenore is brutally murdered. Bryan is framed for the crime and flees, with the CIA, FBI and police all in hot pursuit. For the last time, he channels his rage and particular set of skills into hunting down Lenore\'s real killers, taking his revenge and protecting the one important thing left in his life: his daughter, Kim (Maggie Grace)',
      image: 'taken-3.jpg'
    }, {
      title: 'Heart of a Dog',
      time: '11:30 PM',
      genre: 'cinema',
      info: 'Musician and performance artist Laurie Anderson reflects on the deaths of her husband Lou Reed, her mother and her beloved dog',
      image: 'heart-of-a-dog.jpg'
    }, {
      title: 'Last Week Tonight',
      time: '12:45 AM',
      genre: 'tv-series',
      info: '',
      image: 'last-week-tonight.jpg'
    }, {
      title: 'Autumn in New York',
      time: '1:15 AM',
      genre: 'cinema',
      info: 'Autumn in New York follows the sexual exploits of Will Keane, a New York restaurateur, infamous verging-on-50 playboy, master of the no-commitment seduction until he runs into an unexpected dead end when he meets Charlotte Fielding. Charlotte is half Will\'s age and twice his match, a 21-year-old free spirit yearning to get out and taste the excitement of adult life. It is a season long encounter that will shatter Will\'s preconceptions about women, sex and responsibility',
      image: 'autumn-in-new-york.jpg'
    }, {
      title: 'Jurassic World',
      time: '3:00 AM',
      genre: 'cinema',
      info: 'Located off the coast of Costa Rica, the Jurassic World luxury resort provides a habitat for an array of genetically engineered dinosaurs, including the vicious and intelligent Indominus rex. When the massive creature escapes, it sets off a chain reaction that causes the other dinos to run amok. Now, it\'s up to a former military man and animal expert (Chris Pratt) to use his special skills to save two young brothers and the rest of the tourists from an all-out, prehistoric assault',
      image: 'jurassic-world.jpg'
    }, {
      title: 'Veep',
      time: '4:30 AM',
      genre: 'tv-series',
      info: 'On the night after the election, Selina discovers a possible road to victory; Amy must make a decision; Catherine begins a documentary project; Mike announces that he and Wendy are adopting a baby; Dan considers a new career',
      image: 'veep.jpg'
    }
  ]
