-
  var sundayUSA = [
    {
      title: 'NHL Hockey',
      time: '3:00 AM',
      genre: 'sport',
      info: '',
      image: 'nhl-hockey.jpg'
    }, {
      title: 'Chisley Knows Best',
      time: '6:00 AM',
      genre: 'tv-series',
      info: 'On her return home, Savannah brings along her new puppy, which makes Todd angry; Chase tries to bond with his father',
      image: 'chrisley-knows-best.jpg'
    }, {
      title: 'Chisley Knows Best',
      time: '7:00 AM',
      genre: 'tv-series',
      info: 'On her return home, Savannah brings along her new puppy, which makes Todd angry; Chase tries to bond with his father',
      image: 'chrisley-knows-best.jpg'
    }, {
      title: 'Chisley Knows Best',
      time: '8:00 AM',
      genre: 'tv-series',
      info: 'On her return home, Savannah brings along her new puppy, which makes Todd angry; Chase tries to bond with his father',
      image: 'chrisley-knows-best.jpg'
    }, {
      title: 'Chisley Knows Best',
      time: '9:00 AM',
      genre: 'tv-series',
      info: 'On her return home, Savannah brings along her new puppy, which makes Todd angry; Chase tries to bond with his father',
      image: 'chrisley-knows-best.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '9:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '10:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '11:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '12:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'House M.D.',
      time: '1:00 PM',
      genre: 'tv-series',
      info: 'House reclaims his role as head of diagnostics in time to treat an adult film star admitted to the hospital for pulsating eye pain; Cuddy is reminded that Princeton Plainsboro is not conducive to healthy personal relationships',
      image: 'house.jpg'
    }, {
      title: 'House M.D.',
      time: '2:00 PM',
      genre: 'tv-series',
      info: 'House reclaims his role as head of diagnostics in time to treat an adult film star admitted to the hospital for pulsating eye pain; Cuddy is reminded that Princeton Plainsboro is not conducive to healthy personal relationships',
      image: 'house.jpg'
    }, {
      title: 'House M.D.',
      time: '3:00 PM',
      genre: 'tv-series',
      info: 'House reclaims his role as head of diagnostics in time to treat an adult film star admitted to the hospital for pulsating eye pain; Cuddy is reminded that Princeton Plainsboro is not conducive to healthy personal relationships',
      image: 'house.jpg'
    }, {
      title: 'NCIS',
      time: '4:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '6:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '8:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '10:00 PM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'NCIS',
      time: '12:00 AM',
      genre: 'tv-series',
      info: 'A boxer\'s death leads to Vance starting his own investigation; Gibbs looks into Vance\'s past',
      image: 'ncis.jpg'
    }, {
      title: 'Modern Family',
      time: '2:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }, {
      title: 'WWA Monday Night RAW',
      time: '3:00 AM',
      genre: '',
      info: '',
      image: 'wwe-monday.jpg'
    }
  ]
