-
  var thursdayFox = [
    {
      title: 'The Big Bang Theory',
      time: '6:00 AM',
      genre: 'tv-series',
      info: 'Unable to get Comic-Con tickets, Sheldon tries to hold his own convention and ends up spending a wild evening with James Earl Jones; the ladies try to act maturely',
      image: 'the-big-bang-theory.jpg'
    }, {
      title: 'The Simpsons',
      time: '6:30 AM',
      genre: 'tv-series',
      info: '',
      image: 'the-simpsons.jpg'
    }, {
      title: 'TMZ Live',
      time: '7:00 AM',
      genre: '',
      info: '',
      image: 'tmz-live.jpg'
    }, {
      title: 'Chasing News',
      time: '8:00 AM',
      genre: '',
      info: '',
      image: 'chasing-news.jpg'
    }, {
      title: 'Dish Nation',
      time: '8:30 AM',
      genre: '',
      info: '',
      image: 'chasing-news.jpg'
    }, {
      title: 'Paid Programming',
      time: '9:00 AM',
      genre: '',
      info: '',
      image: 'paid-programming.jpg'
    }, {
      title: 'Paid Programming',
      time: '10:00 AM',
      genre: '',
      info: '',
      image: 'paid-programming.jpg'
    }, {
      title: 'TMZ',
      time: '11:00 AM',
      genre: '',
      info: '',
      image: 'tmz.jpg'
    }, {
      title: 'Good Day Early Call',
      time: '11:30 AM',
      genre: '',
      info: 'Juliet Huddy, Ben Simmoneau, Mike Woods, Ines Rosales',
      image: 'good-day-early-call.jpg'
    }, {
      title: 'Good Day Wake Up',
      time: '12:00 PM',
      genre: '',
      info: 'Juliet Huddy, Ben Simmoneau, Mike Woods, Ines Rosales',
      image: 'good-day-wake-up.jpg'
    }, {
      title: 'Good Day New York',
      time: '2:00 PM',
      genre: '',
      info: 'Juliet Huddy, Ben Simmoneau, Mike Woods, Ines Rosales',
      image: 'good-day-new-york.jpg'
    }, {
      title: 'Good Day New York',
      time: '4:00 PM',
      genre: '',
      info: 'Juliet Huddy, Ben Simmoneau, Mike Woods, Ines Rosales',
      image: 'good-day-new-york.jpg'
    }, {
      title: 'The Wendy Williams Show',
      time: '5:00 PM',
      genre: '',
      info: '',
      image: 'the-wendy-williams-show.jpg'
    }, {
      title: 'The Real',
      time: '6:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'the-real.jpg'
    }, {
      title: 'Hollywood Today Live',
      time: '7:00 PM',
      genre: '',
      info: '',
      image: 'hollywood-today-live.jpg'
    }, {
      title: 'TMZ',
      time: '8:00 PM',
      genre: '',
      info: '',
      image: 'tmz.jpg'
    }, {
      title: 'Inside Edition',
      time: '8:30 PM',
      genre: '',
      info: '',
      image: 'inside-edition.jpg'
    }, {
      title: 'The Dr. Oz Show',
      time: '9:00 PM',
      genre: '',
      info: '',
      image: 'the-dr-oz-show.jpg'
    }, {
      title: 'The People\'s Court',
      time: '10:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'the-peoples-courth.jpg'
    }, {
      title: 'TMZ Live',
      time: '11:00 PM',
      genre: '',
      info: '',
      image: 'tmz-live.jpg'
    }, {
      title: 'Fox News at 5',
      time: '12:00 AM',
      genre: '',
      info: 'Steve Lacy, Dari Alexander, Nick Gregory',
      image: 'fox-news-at-5.jpg'
    }, {
      title: 'TMZ',
      time: '1:30 AM',
      genre: '',
      info: '',
      image: 'tmz.jpg'
    }, {
      title: 'Modern Family',
      time: '2:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }, {
      title: 'Hell\'s Kitchen',
      time: '3:00 AM',
      genre: 'tv-series',
      info: 'The chefs must create a steak dish and two sides in 40 minutes to be submitted to the scrutiny of chef Ari Rosenson; during dinner service, the chefs take turns leading the kitchen; two chefs advance.',
      image: 'hells-kitchen.jpg'
    }, {
      title: 'Hell\'s Kitchen',
      time: '4:00 AM',
      genre: 'tv-series',
      info: 'The chefs must create a steak dish and two sides in 40 minutes to be submitted to the scrutiny of chef Ari Rosenson; during dinner service, the chefs take turns leading the kitchen; two chefs advance.',
      image: 'hells-kitchen.jpg'
    }, {
      title: 'Fox 5 News at 10',
      time: '5:00 AM',
      genre: '',
      info: '',
      image: 'fox-5-news-at-10.jpg'
    }
  ];
