-
  var tuesdayABC = [
    {
      title: 'Eyewitness News',
      time: '6:00 AM',
      genre: '',
      info: 'Bill Ritter, Sade Baderinwa, Lee Goldberg, Rob Powers',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'Jimmy Kimmel Live',
      time: '6:30 AM',
      genre: '',
      info: 'Celebrity guests and comedy skits',
      image: 'jimmy-kimmel-live.jpg'
    }, {
      title: 'Night Line',
      time: '7:40 AM',
      genre: '',
      info: 'Celebrity guests and comedy skits',
      image: 'night-line.jpg'
    }, {
      title: 'Eyewitness News',
      time: '8:10 AM',
      genre: '',
      info: 'Bill Ritter, Sade Baderinwa, Lee Goldberg, Rob Powers',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'Who Wants to be a Millionaire',
      time: '8:40 AM',
      genre: '',
      info: '',
      image: 'who-wants-to-be-a-millionaire.jpg'
    }, {
      title: 'Celebrity Page',
      time: '9:10 AM',
      genre: '',
      info: '',
      image: 'celebrity-page.jpg'
    }, {
      title: 'ABC World News Now',
      time: '9:30 AM',
      genre: '',
      info: 'Global news',
      image: 'abc-world-news-now.jpg'
    }, {
      title: 'America This Morning',
      time: '11:00 AM',
      genre: '',
      info: 'Global news',
      image: 'america-this-morning.jpg'
    }, {
      title: 'Eyewitness News',
      time: '11:30 AM',
      genre: '',
      info: 'Bill Ritter, Sade Baderinwa, Lee Goldberg, Rob Powers',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'Eyewitness News',
      time: '1:00 PM',
      genre: '',
      info: 'Bill Ritter, Sade Baderinwa, Lee Goldberg, Rob Powers',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'Good Morning America',
      time: '2:00 PM',
      genre: '',
      info: '',
      image: 'good-morning-america.jpg'
    }, {
      title: 'Rachael Ray',
      time: '5:00 PM',
      genre: '',
      info: '',
      image: 'rachael-ray.jpg'
    }, {
      title: 'The View',
      time: '6:00 PM',
      genre: '',
      info: 'Celebrity interviews and news headlines',
      image: 'rachael-ray.jpg'
    }, {
      title: 'Eyewitness News',
      time: '7:00 PM',
      genre: '',
      info: 'David Novarro, Shirleen Allicot, Bill Evans',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'The Chew',
      time: '7:00 PM',
      genre: '',
      info: '',
      image: 'the-chew.jpg'
    }, {
      title: 'FABLife',
      time: '9:00 PM',
      genre: '',
      info: '',
      image: 'fablife.jpg'
    }, {
      title: 'General Hospital',
      time: '10:00 PM',
      genre: '',
      info: '',
      image: 'general-hospital.jpg'
    }, {
      title: 'Eyewitness News',
      time: '11:00 PM',
      genre: '',
      info: 'David Novarro, Shirleen Allicot, Bill Evans',
      image: 'eyewitness-news.jpg'
    }, {
      title: 'ABC World News Now',
      time: '11:30 PM',
      genre: '',
      info: 'Global news',
      image: 'abc-world-news-now.jpg'
    }, {
      title: 'Jeopardy!',
      time: '2:00 AM',
      genre: '',
      info: '',
      image: 'jeopardy.jpg'
    }, {
      title: 'Wheel of Fortune',
      time: '2:30 AM',
      genre: '',
      info: '',
      image: 'wheel-of-fortune.jpg'
    }, {
      title: 'The Middle',
      time: '3:00 AM',
      genre: 'tv-series',
      info: 'New neighbors with noisy kids make it impossible for Frankie to relax on her new backyard lanai; Hutch and Axl open a grilled cheese food truck',
      image: 'the-middle.jpg'
    }, {
      title: 'The Goldbergs',
      time: '3:30 AM',
      genre: 'tv-series',
      info: 'The cast members talk about their characters and what made the \'80s so special; Sean Giambrone leads a set tour; bloopers',
      image: 'the-goldbergs.jpg'
    }, {
      title: 'Modern Family',
      time: '4:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }
  ]
