-
  var tuesdayHBO = [
    {
      title: 'Boxing',
      time: '5:30 AM',
      genre: 'sport',
      info: 'Dominic Wade challenges Gennady Golovkin for his WBA/IBF/interim WBC middleweight title, in a 12-round bout Also: McWilliams Arroyo vs. Roman Gonzalez, WBC flyweight title, 12 rounds. From Inglewood, Calif',
      image: 'boxing.jpg'
    }, {
      title: '24/7 Canelo/Khan',
      time: '7:45 AM',
      genre: '',
      info: '',
      image: '24-7-canelo-khan.jpg'
    }, {
      title: 'The Fight Game With Jim Lampley',
      time: '7:45 AM',
      genre: 'sport',
      info: 'Reviewing the Manny Pacquiao and Timothy Bradley Jr. welterweight showdown; preview of the upcoming fight schedule; boxing headlines and issues; profile of boxer Claressa Shields; Marvin Hagler vs. Sugar Ray Leonard fight retrospective',
      image: 'the-fight-game.jpg'
    }, {
      title: 'Catacombs',
      time: '9:00 AM',
      genre: 'cinema',
      info: 'A young woman in Paris goes to a party in the enormous labyrinth of limestone tunnels beneath Paris. When she becomes separated from her friends, she is convinced something is chasing her through the dark tunnels',
      image: 'catacombs.jpg'
    }, {
      title: 'Game of Thrones',
      time: '10:30 AM',
      genre: 'tv-series',
      info: 'The fate of Jon Snow is revealed; Daenerys meets a strong man; Cersei sees her daughter again',
      image: 'game-of-thrones.jpg'
    }, {
      title: 'Veep',
      time: '11:30 AM',
      genre: 'tv-series',
      info: 'On the night after the election, Selina discovers a possible road to victory; Amy must make a decision; Catherine begins a documentary project; Mike announces that he and Wendy are adopting a baby; Dan considers a new career',
      image: 'veep.jpg'
    }, {
      title: 'All the Pretty Horses',
      time: '12:00 PM',
      genre: 'cinema',
      info: 'The year is 1949. A young Texan named John Grady finds himself without a home after his mother sells the ranch where he has spent his entire life. Lured south of the border by the romance of cowboy life and the promise of a fresh start, Cole and his pal embark on an adventure that will test their resilience, define their maturity, and change their lives forever',
      image: 'catacombs.jpg'
    }, {
      title: 'Disney\'s the Kid',
      time: '2:00 PM',
      genre: 'cinema',
      info: 'Bruce Willis stars as Russ Duritz, a successful image consultant whose life is suddenly turned upside down when he magically meets Rusty, Russ himself as an 8-year-old kid. Rusty is a sweet, but slightly geeky, awkward little kid who painfully reminds Russ of everything he hated about himself when he was a child-a pudgy, little cry-baby who was the daily victim of the school bullies-an image Russ has worked hard to overcome and consciously forget',
      image: 'disneys-the-kid.jpg'
    }, {
      title: 'Camp Nowhere',
      time: '4:00 PM',
      genre: 'cinema',
      info: 'Morris "Mud" Himmel (Jonathan Jackson) spends every summer at computer camp, but he hates it. Mud and his friends (Andrew Keegan, Melody Kay, Marnette Patterson), unhappy about their respective camp prospects, devise a plan to finally have a fun summer. They bribe Dennis Van Welker (Christopher Lloyd), an ex-teacher, to pose as a counselor for a fake camp and rent a campground where the kids can run amok. But they run into trouble when their parents want to come for a visit',
      image: 'camp-nowhere.jpg'
    }, {
      title: 'The Diplomat',
      time: '5:45 PM',
      genre: 'cinema',
      info: 'The life and legacy of Ambassador Richard Holbrooke',
      image: 'the-diplomat.jpg'
    }, {
      title: 'Breach',
      time: '7:30 PM',
      genre: 'cinema',
      info: 'Eric O\'Neill (Ryan Phillippe), a low-level surveillance expert with the FBI, believes he is accomplishing his dream of becoming a full-fledged agent, with his unexpected promotion and assignment to work with renowned agent Robert Hanssen (Chris Cooper). However, he soon learns the reason for his promotion is to gain Hanssen\'s trust and find proof that he is a traitor to the country.',
      image: 'breach.jpg'
    }, {
      title: 'Confirmation',
      time: '9:30 PM',
      genre: 'cinema',
      info: 'Nominated to the Supreme Court in 1991, Judge Clarence Thomas (Wendell Pierce) must testify before the Senate Judiciary Committee after Anita Hill (Kerry Washington), his former employee, claims that he sexually harassed her',
      image: 'confirmation.jpg'
    }, {
      title: 'Music and Lyrics',
      time: '1:15 AM',
      genre: 'cinema',
      info: 'Former music superstar Alex Fletcher (Hugh Grant) used to pack them in back in the 1980s, but now he is reduced to playing nostalgia tours and county fairs. He scores a chance at a major comeback when reigning pop diva Cora Corman (Haley Bennett) asks him to write a song for her, but he hasn\'t written anything in years and cannot compose lyrics anyway. Noticing that Sophie (Drew Barrymore), the plant lady, has a way with words, Alex proposes that he and Sophie make beautiful music together',
      image: 'music-and-lyrics.jpg'
    }, {
      title: 'REAL Sports With Bryant Gumbel',
      time: '3:00 AM',
      genre: '',
      info: 'During a wild vacation in Las Vegas, career woman Joy McNally (Cameron Diaz) and playboy Jack Fuller (Ashton Kutcher) come to the sober realization that they have married each other after a night of drunken abandon. Besides that, there is a huge jackpot at stake. An implacable judge freezes the prize money and refuses to grant an annulment, so Joy and Jack must try to make their impromptu marriage work',
      image: 'real-sports.jpg'
    }, {
      title: 'Vice',
      time: '4:00 AM',
      genre: 'tv-series',
      info: 'The plight of migrant workers in Dubai; examining the increasingly prominent business relationship between China and Africa',
      image: 'vice.jpg'
    }, {
      title: 'Veep',
      time: '4:30 AM',
      genre: 'tv-series',
      info: 'On the night after the election, Selina discovers a possible road to victory; Amy must make a decision; Catherine begins a documentary project; Mike announces that he and Wendy are adopting a baby; Dan considers a new career',
      image: 'veep.jpg'
    }
  ]
