-
  var wednesdayUSA = [
    {
      title: 'NHL Hockey',
      time: '3:00 AM',
      genre: 'sport',
      info: '',
      image: 'nhl-hockey.jpg'
    }, {
      title: 'NCIS: Los Angeles',
      time: '6:00 AM',
      genre: 'tv-series',
      info: 'The team must find the person behind an ambush on a vehicle carrying Jada Khaled in order to save her and their case; Sam must face Jada for the first time since Sudan',
      image: 'ncis-los-angeles.jpg'
    }, {
      title: 'NCIS: Los Angeles',
      time: '7:00 AM',
      genre: 'tv-series',
      info: 'The team must find the person behind an ambush on a vehicle carrying Jada Khaled in order to save her and their case; Sam must face Jada for the first time since Sudan',
      image: 'ncis-los-angeles.jpg'
    }, {
      title: 'NCIS: Los Angeles',
      time: '8:00 AM',
      genre: 'tv-series',
      info: 'The team must find the person behind an ambush on a vehicle carrying Jada Khaled in order to save her and their case; Sam must face Jada for the first time since Sudan',
      image: 'ncis-los-angeles.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '9:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '10:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '11:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '12:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Morning Glory',
      time: '1:00 PM',
      genre: 'cinema',
      info: 'Newly hired as a producer on a national morning-news program called "Daybreak," Becky Fuller (Rachel McAdams) decides to revitalize the low-rated show by bringing in legendary anchorman Mike Pomeroy (Harrison Ford). Pomeroy, however, refuses to do puff pieces like celebrity gossip and fashion, and clashes with his co-host (Diane Keaton). Meanwhile, Becky\'s romance with a colleague begins to unravel, leaving her struggling to save her relationship, her job and the show',
      image: 'morning-glory.jpg'
    }, {
      title: 'The Back-up Plan',
      time: '3:00 PM',
      genre: 'cinema',
      info: 'Tired of waiting for Mr. Right while her biological clock ticks away, Zoe (Jennifer Lopez) decides it\'s time to make an appointment at the sperm bank. On the same day as her procedure, she meets Stan (Alex O\'Loughlin), a man with the potential to be her ideal mate. When Stan learns that Zoe\'s unpredictable behavior is the result of her pregnancy, he declares his commitment. As the due date approaches, both lovers realize that they really don\'t know each other without a baby in the picture.',
      image: 'morning-glory.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '5:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '7:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '9:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '11:00 PM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'Law & Order: Special Victims Unit',
      time: '1:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'law-and-order.jpg'
    }, {
      title: 'WWE SmackDown!',
      time: '3:00 AM',
      genre: 'sport',
      info: '',
      image: 'wwe-smackdown.jpg'
    }, {
      title: 'Modern Family',
      time: '5:00 AM',
      genre: 'tv-series',
      info: '',
      image: 'modern-family.jpg'
    }
  ]
