footer
  p.github-link: a(href='https://github.com/azat-io/shri-msk-2016-task-1' target='_blank') Look at GitHub
  p.special: a(href='https://academy.yandex.ru/events/frontend/shri_msk-2016/' target='_blank') Special 4 <span class='yandex'>Y</span>andex
