head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width')
  title TV Guide
  meta(name='description', content='Task No. 1 for Yandex frontent school 2016')
  link(rel='stylesheet' href='css/style.css')
