doctype
html(lang='en')
  include ./head.pug
  body
    include ./header.pug
    main
      #tabs
        mixin tab(name, id, abbr, checked)
          input(type='radio' name='tabs' id=id checked=checked)
          label(for=id)= name
            abbr= abbr
        +tab('Monday', 'toggle-monday', 'Mon', true)
        +tab('Tuesday', 'toggle-tuesday', 'Tue', false)
        +tab('Wednesday', 'toggle-wednesday', 'Wed', false)
        +tab('Thursday', 'toggle-thursday', 'Thu', false)
        +tab('Friday', 'toggle-friday', 'Fri', false)
        +tab('Saturday', 'toggle-saturday', 'Sat', false)
        +tab('Sunday', 'toggle-sunday', 'Sun', false)
        #monday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./monday.pug
        #tuesday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./tuesday.pug
        #wednesday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./wednesday.pug
        #thursday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./thursday.pug
        #friday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./friday.pug
        #saturday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./saturday.pug
        #sunday.tab
          include ./buttons.pug
          include ./movie-card.pug
          include ./sunday.pug
    include ./footer.pug
