.channels
  include ./data/saturday-fox.pug
  table
    thead: tr: td
      .fox
    tbody
      for movie in saturdayFox
        +movie-card(movie)
  include ./data/saturday-usa.pug
  table
    thead: tr: td
      .usa
    tbody
      for movie in saturdayUSA
        +movie-card(movie)
  include ./data/saturday-abc.pug
  table
    thead: tr: td
      .abc
    tbody
      for movie in saturdayABC
        +movie-card(movie)
  include ./data/saturday-hbo.pug
  table
    thead: tr: td
      .hbo
    tbody
      for movie in saturdayHBO
        +movie-card(movie)
  include ./data/saturday-tnt.pug
  table
    thead: tr: td
      .tnt
    tbody
      for movie in saturdayTNT
        +movie-card(movie)
