/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
0.0 General
1.0 Normalize
2.0 Header
3.0 Main
3.1 Tabs
3.2 Filters
3.3 Channels
4.0 Footer
*/


/* 0.0 General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Questrial';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/questrial.eot');
  src: local('Questrial'), local('Questrial-Regular'),
       url('../fonts/questrial.eot?#iefix') format('embedded-opentype'),
       url('../fonts/questrial.woff2') format('woff2'),
       url('../fonts/questrial.woff') format('woff'),
       url('../fonts/questrial.ttf') format('truetype'),
       url('../fonts/questrial.svg#Questrial') format('svg');
}

:root{
  --mainColor: #42282e;
}

::selection {
  background: var(--mainColor);
  color: #f;
}

main {
  display: block;
  margin: 20px auto;
  @media (width >= 990px) {
    width: 970px;
  }
  @media (width >= 1200px) {
    width: 1200px;
  }
}

/* 1.0 Normalize
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  font-family: "Questrial", Helvetica, Arial, sans-serif;
  color: #35;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  background-inline-image: url(src/inline-images/bg-main.jpg);
  background-repeat: repeat;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* 2.0 Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  clear: fix-legacy;
  background: var(--mainColor);
  background-size: 100%;
  background-repeat: no-repeat;
}

.logo {
  size: 297px 90px;
  width: 297px;
  margin: 20px auto;
  background-inline-image: url(src/inline-images/logo.png);
  background-position: center;
}

/* 3.0 Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */

main {
  display: block;
  margin: 40px auto 20px auto;
  background-size: 100%;
  background-repeat: repeat-y;
  @media (width >= 990px) {
    width: 970px;
  }
  @media (width >= 1200px) {
    width: 1200px;
  }
}

/* 3.1 Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a[role="tab"][aria-selected="false"] {
  background: #1928cf;
  color: #fff;
}

#tabs {
  width:100%;
  margin:0 auto;
  margin-top:2%;
  margin-bottom:0;
  border-radius:3px;
}

input[type="radio"] {
  display:none;
}

label {
  background: var(--mainColor);
  display:inline-block;
  margin-right: 2px;
  border-radius: 3px;
  padding: 14px 20px;
  font-size: 95%;
  font-weight: 700;
  color: #e;
  cursor:pointer;
  transition:background .3s;
  user-select: none;
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  background: var(--mainColor);
  transition-property: color;
  transition-duration: 0.3s;
  abbr {
    display: none;
  }
  &:hover {
    background: color(var(--mainColor) lightness(30%));
    color: #f;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f;
    border-radius: 100%;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
  }
  &:active {
    color: #35;
    &:before {
      transform: scale(2);
    }
  }
  @media (width <= 747px) {
    padding: 14px;
    font-size: 0;
    abbr {
      display: block;
      font-size: 16px;
    }
  }
  @media (width <= 420px) {
    abbr {
      font-size: 0;
    }
    abbr::first-letter {
      font-size: 16px;
    }
  }
}

.tab {
  min-height: 200px;
  background: #f;
  display: none;
  padding: 12px;
}

#toggle-monday:checked ~ label[for="toggle-monday"],
#toggle-tuesday:checked ~ label[for="toggle-tuesday"],
#toggle-wednesday:checked ~ label[for="toggle-wednesday"],
#toggle-thursday:checked ~ label[for="toggle-thursday"],
#toggle-friday:checked ~ label[for="toggle-friday"],
#toggle-saturday:checked ~ label[for="toggle-saturday"],
#toggle-sunday:checked ~ label[for="toggle-sunday"] {
  background: #f;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 18px;
  color: #35;
  cursor: default;
}

#toggle-monday:checked ~ #monday,
#toggle-tuesday:checked ~ #tuesday,
#toggle-wednesday:checked ~ #wednesday,
#toggle-thursday:checked ~ #thursday,
#toggle-friday:checked ~ #friday,
#toggle-saturday:checked ~ #saturday,
#toggle-sunday:checked ~ #sunday {
  display:block;
}

/* 3.2 Filters
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.filter-tv-series,
.filter-cinema,
.filter-sport {
  display: inline-block;
  margin-right: 5px;
  border: 0;
  background: var(--mainColor);
  color: #f;
  border-radius: 4px;
  padding: 5px 10px;
  outline: 0;
}

.filter-tv-series:focus ~ .channels table tbody tr .tv-series,
.filter-cinema:focus ~ .channels table tbody tr .cinema,
.filter-sport:focus ~ .channels table tbody tr .sport {
  background: color(var(--mainColor) lightness(30%));
  color: #f;
}

/* 3.3 Channels
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.channels {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  @media (width <= 1210px) {
    flex-wrap: wrap;
  }
}

table {
  width: 227px;
  margin: 20px 0;
  thead {
    background: var(--mainColor);
    color: #f;
    tr td {
      padding: 10px 0;
    }
  }
  tbody tr {
    td {
      position: relative;
      i {
        display: block;
        font-style: normal;
        font-size: 12px;
      }
      p {
        margin: 5px 0;
      }
      span {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        height: auto;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
      }
      &:hover span {
        position: absolute;
        left: 1em;
        visibility: visible;
        padding: 10px;
        background: #f;
        opacity: 1;
        bottom: 2.5em;
        z-index: 99;
        margin-left: 0;
        width: 250px;
      }
    }
    &:nth-child(odd) {
      background: #f;
  }
    &:nth-child(even) {
      background: #e;
    }
  }
  @media (width <= 1210px) {
    width: 33%;
  }
  @media (width <= 780px) {
    width: 50%;
  }
  @media (width <= 540px) {
    width: 100%;
  }
}

.fox, .abc, .usa, .hbo, .tnt {
  size: 46px 35px;
  margin: 0 auto;
}

.fox {
  background-inline-image: url(src/inline-images/fox.png);
}

.abc {
  background-inline-image: url(src/inline-images/abc.png);
}

.usa {
  background-inline-image: url(src/inline-images/usa.png);
}

.hbo {
  background-inline-image: url(src/inline-images/hbo.png);
}

.tnt {
  background-inline-image: url(src/inline-images/tnt.png);
}

/* 4.0 Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer {
  background: var(--mainColor);
  margin-top: 30px;
  p a {
    display: block;
    color: #f;
    transition: color 0.3s ease;
    &:hover {
      color: gold;
    }
    &:active {
      color: #f;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 5px;
    margin: 0 auto;
    @media (width >= 990px) {
      width: 970px;
    }
    @media (width >= 1200px) {
      width: 1170px;
    }
  }
}

.yandex {
  color: red;
}
